canvas,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

canvas{
    cursor: pointer;
    touch-action: none; /* Предотвращает скролл при касании */
    -webkit-user-select: auto;
    user-select: none; /* Предотвращает выделение */
    background-color: white; /* Иногда помогает с рендерингом в Safari */
    display: block; /* Важно для корректного отображения */
}